<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.FoodMapper">
  <select id="foodListData" resultType="com.sist.web.vo.FoodVO" parameterType="hashmap">
    SELECT fno, name, poster, address, num
    FROM (SELECT fno, name, poster, address, ROWNUM AS num
    FROM (SELECT fno, name, poster, address
    FROM menupan_food WHERE address LIKE '%'||#{address}||'%'
    ORDER BY fno ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <!-- 상세보기 -->
  <select id="foodDetailData" resultType="com.sist.web.vo.FoodVO" parameterType="int">
    SELECT fno, name, poster, score, address, phone, price, type, time, parking, theme, type, content
    FROM menupan_food
    WHERE fno = #{fno}
  </select>
</mapper>