<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 800px;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h3 class="text-center">게시판</h3>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <a href="/board/insert" class="btn btn-xs btn-warning">새 글</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr class="danger">
            <th class="text-center" width="10%">번호</th>
            <th class="text-center" width="45%">제목</th>
            <th class="text-center" width="15%">이름</th>
            <th class="text-center" width="20%">작성일</th>
            <th class="text-center" width="10%">조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="vo:${list}">
            <td class="text-center" width="10%">[[${vo.no}]]</td>
            <td width="45%"><a th:href="@{/board/detail(no=${vo.no})}">[[${vo.subject}]]</a></td>
            <td class="text-center" width="15%">[[${vo.name}]]</td>
            <td class="text-center" width="20%">[[${vo.dbday}]]</td>
            <td class="text-center" width="10%" th:text="${vo.hit}"></td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <a th:href="@{/board/list(page=${curpage>1 ? curpage-1 : curpage})}" class="btn btn-sm btn-info">이전</a>
              [[${curpage}]] page / [[${totalpage}]] pages
              <a th:href="@{/board/list(page=${curpage<totalpage ? curpage+1 : curpage})}" class="btn btn-sm btn-info">이전</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>