<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.FoodMapper">
  <select id="foodListData" resultType="com.sist.web.vo.FoodVO" parameterType="int">
    SELECT fno, name, poster, address
    FROM menupan_food
    ORDER BY fno ASC
    OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
  </select>
  
  <!-- 상세보기 -->
  <select id="foodDetailData" resultType="com.sist.web.vo.FoodVO" parameterType="int">
    SELECT fno, name, poster, address, phone, time, parking, score, theme, type, content
    FROM menupan_food
    WHERE fno = #{fno}
  </select>
</mapper>