<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 960px;
}

p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3" th:each="vo:${list}">
	    <div class="thumbnail">
	      <a href="#">
	        <img th:src="${vo.poster}" th:title="${vo.address}" style="width: 240px; height: 130px;">
	        <div class="caption">
	          <p>[[${vo.name}]]</p>
	        </div>
	      </a>
	    </div>
	  </div>
    </div>
    <div class="row text-center" style="margin-top: 20px;">
      <ul class="pagination">
        <li th:if="${startPage>1}"><a th:href="@{/(page=${startPage-1})}">&laquo;</a></li>
        <li th:each="i:${#numbers.sequence(startPage, endPage)}" th:class="${i==curpage ? 'active':''}"><a th:href="@{/(page=${i})}">[[${i}]]</a></li>
        <li th:if="${endPage<totalpage}"><a th:href="@{/(page=${endPage+1})}">&raquo;</a></li>
      </ul>
    </div>
  </div>
</body>
</html>