<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.FoodMapper">
  <!-- 
  		Mapper => 연결
  		메소드
  		 1. 리턴형 : resultType
  		 2. 매개변수 : parameterType
  		 3. 메소드명 : id
  		 public List<FoodVO> foodListData(Map map)
  		    = HashMap / HashTable
   -->
  <select id="foodListData" resultType="com.sist.web.vo.FoodVO" parameterType="hashmap">
    SELECT fno, name, poster, num
    FROM (SELECT fno, name, poster, ROWNUM AS num 
    FROM (SELECT fno, name, poster
    FROM menupan_food ORDER BY fno ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <select id="foodTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/12.0) FROM menupan_food
  </select>
  
  <!-- 상세보기 -->
  <update id="foodHitIncrement" parameterType="int">
    UPDATE menupan_food SET
    hit = hit+1
    WHERE fno = #{fno}
  </update>
  
  <select id="foodDetailData" resultType="com.sist.web.vo.FoodVO" parameterType="int">
    SELECT fno, name, poster, time, address, phone, theme, parking, score, content, price, type
    FROM menupan_food
    WHERE fno = #{fno}
  </select>
  
  <select id="foodTop10" resultType="com.sist.web.vo.FoodVO">
    SELECT fno, poster, name, address, phone, type, ROWNUM
    FROM (SELECT fno, poster, name, address, phone, type
    FROM menupan_food ORDER BY hit DESC)
    WHERE ROWNUM&lt;=10
  </select>
</mapper>