<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.FoodMapper">
  <resultMap type="com.sist.web.vo.FoodVO" id="foodMap">
    <result property="fno" column="fno"/>
    <result property="poster" column="poster"/>
    <result property="name" column="name"/>
  </resultMap>
  
  <resultMap type="com.sist.web.vo.FoodVO" id="detailMap">
    <result property="fno" column="fno"/>
    <result property="hit" column="hit"/>
    <result property="jjimcount" column="jjimcount"/>
    <result property="likecount" column="likecount"/>
    <result property="replycount" column="replycount"/>
    <result property="name" column="name"/>
    <result property="type" column="type"/>
    <result property="phone" column="phone"/>
    <result property="address" column="address"/>
    <result property="theme" column="theme"/>
    <result property="price" column="price"/>
    <result property="time" column="time"/>
    <result property="parking" column="parking"/>
    <result property="poster" column="poster"/>
    <result property="images" column="images"/>
    <result property="content" column="content"/>
    <result property="score" column="score"/>
  </resultMap>
  
  <!-- 검색 -->
  <select id="foodFindData" resultType="com.sist.web.vo.FoodVO" parameterType="hashmap">
    SELECT fno, poster, name
    FROM menupan_food
    <where>
      <if test="fsArr != null"> 
	    <trim prefixOverrides="OR">
	      <foreach collection="fsArr" item="fd">
	        <trim prefix="OR">
	          <choose>
	            <when test="fd == 'N'.toString()">
	              name LIKE '%'||#{ss}||'%'
	            </when>
	            <when test="fd == 'T'.toString()">
	              type LIKE '%'||#{ss}||'%'
	            </when>
	            <when test="fd == 'A'.toString()">
	              address LIKE '%'||#{ss}||'%'
	            </when>
	          </choose>
	        </trim>
	      </foreach>
	    </trim>
      </if>
    </where>
    OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
  </select>
  
  <select id="foodFindTotalPage" resultType="int" parameterType="hashmap">
    SELECT CEIL(COUNT(*)/12.0)
    FROM menupan_food
    <where>
      <if test="fsArr != null">
	    <trim prefixOverrides="OR">
	      <foreach collection="fsArr" item="fd">
	        <trim prefix="OR">
	          <choose>
	            <when test="fd == 'N'.toString()">
	              name LIKE '%'||#{ss}||'%'
	            </when>
	            <when test="fd == 'T'.toString()">
	              type LIKE '%'||#{ss}||'%'
	            </when>
	            <when test="fd == 'A'.toString()">
	              address LIKE '%'||#{ss}||'%'
	            </when>
	          </choose>
	        </trim>
	      </foreach>
	    </trim>
      </if>
    </where>
  </select>
  <!-- 
  		동적 = 조건에 따라서 SQL구문을 동적으로 생성 (다중 검색) = 필터링
  		가독성 / 유지 보수
  		
  		태그 정리
  		<if> = <if test="조건문">
  		
  		<select id="" parameterType="hashmap" resultType="">
  		  SELECT * FROM table_name
  		  <where>
  		    <if test="name != null && name !=''">
  		      AND name = #{name}
  		    </if>
  		    <if test="age != null">
  		      AND age = #{age}
  		    </if>
  		  </where>
  		  
  		  where => 조건에 맞는 내용이 없는 경우 where생성이 안된다
  		  where => 뒤에 AND | OR를 자동 제거
  		    <trim prefixOverrides="AND"> => 포함
  		</select>
  		
  		<trim>
  		  => 추가 / 제거
  		     prefix / suffix => 앞뒤에 추가
  		     prefixOverrides / suffixOverrides => 앞뒤 제거
  		     ================================= AND | OR
  		<choose> : 다중 조건문
  		  <choose>
  		    <when test=""></when>
  		    <when test=""></when>
  		    <when test=""></when>
  		    <otherwise></otherwise> else / default
  		  </choose>
  		  
  		  <set>
  		    UPDATE table_name
  		    <set>
  		      <if test="">
  		        name = #{name}
  		      </if>
  		    </set>
  		  <foreach> : 루프 문장
  		  
  		  => collection="" : 배열 / List
  		  => item="" 받는 변수
  		  => open="("
  		  => close=")"
  		  => separator="구분자"
  		  String[] aaa = {"A", "B", "C", "D", "E"};
  		  IN('A', 'B', ...)
  		  WHERE column IN
  		  <foreach collection="aaa" item="a" open="(" close=")" separator=",">
  		  </foreach>
  		  
  		  <sql> : 반복되는 SQL 문장 제거
  		  #{}, ${}
  		  ==== ====
  		   ''   ''가 없다 => table_name / column_name
  		                   ========================
  		                   SQL Injection 위험
  		  위치는 상관 없다
  		  ============
  		  
  		  기타 : 1. 일반 CRUD
  		  		   <sql> <select> <insert> <update> <delete>
  		        2. JOIN 처리 : <resultMap>
  		                      => 컬럼 전체 매칭
  		                      => 인덱스를 이용하지 않는다
  		                         컬럼을 이용한다
  		                      rs.getString(1)
  		                      rs.getString("name") => select뒤에 설정된 column을 매칭
  		                      
  		                      => XML + Annotation
  		                         |     | 단순한 쿼리
  		                         | 복잡한 쿼리
  		                      ORM : 데이터베이스 연동하는 라이브러리
  		        3. SUBQUERY 처리
  		        4. 동적 쿼리
  		        5. 프로시저 호출 (옵션) / 트리거 => 호불호
  		           => 가독성이 떨어진다, 수정하기 어렵다
  		  JSP = Controller = Service = Mapper = 오라클
  		        | @RequestParam()
  		          @ModelAttribute()
  		          @RequestBody
  		          @SessionAttribute()
  		          => 전송 데이터 / 내장 객체만 매개변수로 받을 수 있다
   -->
</mapper>